.navbar{
  display: flex;
  justify-content: space-between;
  max-width: 92.5%;
  margin: auto;
  padding-top: 28px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .navbar{
    max-width: 91%;
    padding-top: 28px;
  }
}

@media screen and (max-width: 768px) {
  .navbar{
    max-width: 93.75%;
  }
}

@media screen and (max-width: 425px) {
  .navbar{
    max-width: 90%;
  }
}
