
.lead{
  max-width: 76%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .lead{
    max-width: 91%;
  }
}

@media screen and (max-width: 768px) {

  .lead{
    max-width: 100%;
  }
}
