.place__text{
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-left: 40px;
  display: block;
  width: 37.8vw;
}

.place__text:first-of-type{
  margin-bottom: 25px;
}

@media screen and (min-width: 1280px) {
  .place__text{
    width: 484px;
  }
}

@media screen and (max-width: 1024px) {

  .place__text{
    width: 44.53vw;
    margin-left: 32px;
  }
}

@media screen and (max-width: 768px) {

  .place__text{
    font-size: 16px;
    width: 45.8vw;
    margin-left: 28px;
  }
}

@media screen and (max-width: 589px) {
  .place__text{
    width: 40vw;
  }
}

@media screen and (max-width: 425px) {
  .place__text{
    margin: 0 auto;
    width: 90vw;
  }

}
