.place__title{
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  display: block;
  width: 35vw;
}

@media screen and (max-width: 1024px) {

  .place__title{
    width: 43vw;
  }
}

@media screen and (max-width: 768px) {

  .place__title{
    display: block;
    width: 44.2vw;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {

  .place__title{
    font-size: 32px;
    line-height: 35px;
    width: 90vw;
    margin: 50px 0 0 16px;
  }
}
