.place__bottom{
  display: flex;
  margin-top: 48px;
}

@media screen and (max-width: 768px) {

  .place__bottom{
    margin-top: 44px;
  }}

@media screen and (max-width: 425px) {

  .place__bottom{
    flex-direction: column;
    margin-top: 32px;
  }}
