.cover__title{
  display: block;
  position: relative;
  max-width: 43.75vw;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 32px;
  color: #fff;
}

@media screen and (min-width: 1440px) {

  .cover__title{
    font-size: 92px;
    line-height: 76px;
  }
}

@media screen and (max-width: 1024px) {

  .cover__title{
    max-width: 54.9vw;
  }
}

@media screen and (max-width: 768px) {

  .cover__title{
    max-width: 72.9vw;
  }
}

@media screen and (max-width: 589px) {

  .cover__title{
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 16px;
    max-width: 90vw;
  }
}

@media screen and (max-width: 425px) {
  .cover__title{
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
