.place__image{
  width: 35vw;
  margin-bottom: 80px;
}

@media screen and (max-width: 1024px) {

  .place__image{
    width: 43vw;
    margin-bottom: 80px;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {

  .place__image{
    width: 44.2vw;
    margin-bottom: 80px;
    height: 340px;
  }
}

@media screen and (max-width: 425px) {

  .place__image{
    width: 100%;
    min-height: 320px;
    margin-bottom: 32px;
  }
}
