.header__title{
  margin: 56px auto 32px auto;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  display: block;
  max-width: 720px;
}

@media screen and (max-width: 1024px) {

  .header__title{
    margin: 48px auto 32px auto;
  }
}

@media screen and (max-width: 768px) {

  .header__title{
    max-width: 93.75vw;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 425px) {

  .header__title{
    margin: 48px auto 16px auto;
    font-size: 40px;
    line-height: 44px;
    max-width: 90vw;
  }
}
